{% trans_default_domain 'profile_admin' %}
{% import 'ProfileAdminBundle:macros:profile.html.twig' as macros_profile %}
{% import 'ProfileAdminBundle:macros:tariff.html.twig' as macros_tariff %}

<div class="row">
    <div class="col-md-4 row-striped-large">
        {{ macros_profile.param_row('label.client_name'|trans, client.user.name) }}
        {{ macros_profile.param_row('Email', client.user.email) }}
        {{ macros_profile.param_row(
            'label.account_amount'|trans,
            macros_tariff.money(
                client.account.amount,
                macros_tariff.account_currency(client.account)
            )
        ) }}
        {{ macros_profile.param_row(
            'label.account_credit'|trans,
            macros_tariff.money(
                client.account.credit,
                macros_tariff.account_currency(client.account)
            )
        ) }}
        {{ macros_profile.param_row('account', client.account.id) }}
    </div>
</div>
