{% trans_default_domain 'profile_admin' %}

{% import '@ProfileAdmin/macros/tariff.html.twig' as macros_tariff %}

<div data-container="modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'label.change_variant_choose'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div data-container="profile_admin" data-client-id="{{ profile.client.id }}"
                     class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div data-container="choose_tariffs"
                         data-client-id="{{ profile.client.id }}"
                         data-profile-id="{{ profile.id }}"

                    >
                        {% for tariff in tariffs %}
                            {{ macros_tariff.change_tariff_card(tariff, customer, profile, isZenith) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->